<div>
<h1>Purchase #<%= @purchase.id %></h1>

Quantity: <%= @purchase.quantity %>
<br />
Address: <%= @purchase.delivery_address %>
<br />
<%# TODO: Format the date time to make it more readable #done %>
Purchased at: <%= @purchase.created_at.strftime("%d-%m-%Y %H:%M") %>

<br />
<br />

<%# TODO: Open purchases#edit page #done %>
<%= link_to 'Edit', edit_product_purchase_path(@purchase.product_id, @purchase.id) %>

&nbsp;&nbsp;

<%# TODO: Make a DELETE request to purchases#destroy #done %>
<%= link_to 'Delete',[@purchase.product, @purchase] , method: :delete %>

<%= link_to 'Back', product_path(id: @purchase.product_id) %>

</div>

<br />
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">
      Review
    </h3>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table id="review_table" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th style="width: 10%;">Rating</th>
            <th style="width: 10%;">Comment </th>
            <th style="width: 10%;">Date</th>
          </tr>
        </thead>
        <tbody>
          <% @purchase.reviews.each do |review| %>
            <tr>
              <td><%= review.rating %></td>
              <td><%= review.comment %></td>
              <td><%= review.created_at.strftime("%d-%m-%Y %H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= link_to 'Give a Review', new_review_url(review: { purchase_id: @purchase.id }) if !@purchase.reviews.present?  %>
